export const  ClientId = 'YOUR_CLIENT_ID';
export const  ClientSecret = 'YOUR_CLIENT_SECRET';
export const  RedirectUri = 'https://developers.google.com/oauthplayground';
export const RefreshToken =  'YOUR_REFRESH_TOKEN';

export default {
    ClientId,
    ClientSecret,
    RedirectUri,
    RefreshToken,
}